.notification-container {
	font-size: 14px;
	box-sizing: border-box;
	position: fixed;
	z-index: 999999
}

.notification-top-right {
	top: 12px;
	right: 12px
}

.notification-bottom-right {
	bottom: 12px;
	right: 12px
}

.notification-top-left {
	top: 12px;
	left: 12px
}

.notification-bottom-left {
	bottom: 12px;
	left: 12px
}

.notification {
	background: #fff;
	transition: .3s ease;
	position: relative;
	pointer-events: auto;
	overflow: hidden;
	margin: 0 0 6px;
	padding: 30px;
	width: 300px;
	max-height: 100px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 12px #999;
	color: #000;
	opacity: .9;
	background-position: 15px!important;
	background-repeat: no-repeat!important;
}

.notification:hover {
	box-shadow: 0 0 12px #fff;
	opacity: 1;
	cursor: pointer
}

.notification-title {
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 6px;
    width: 300px;
    height: 18px;
}

.notification-message {
	margin: 0;
	text-align: left;
    height: 18px;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-subtitle {
	margin-top: -3px;
	margin-bottom: 4px;
	padding: 0;
	font-size: 10px;
	text-align: left;
}

.toast {
    height: 80px;
    width: 365px;
	color: #fff;
	padding: 8px 15px 15px 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAfUlEQVRIie1UQQ6AIAxbjc8g/kcfwsfnP+rFA1lGMIJygN6Abm0hQ6QXeKOWt7S1VRAgeZDU1BELMDwluac9YQRUREKlaQWwuSdP7z0Hr/7zN1hzTloJ9EkAAN5+CV7yf+dgCkyBQQXsJJ8iEir/Ik0XNkG0hBfNY0X9iLgAGtNrnNAFgoIAAAAASUVORK5CYII=)
}

.notification-container button {
	position: relative;
	right: -.3em;
	top: -.3em;
	float: right;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 0 #fff;
	opacity: .8;
	line-height: 1;
	font-size: 16px;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0
}
